.login {
	height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login__logo {
	object-fit: contain;
	width: 100px;
	height: 100px;
}

.login__container {
	width: 300px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	margin-top: -20px;
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 20px;
}

.login__container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
	margin-top: 0;
}

.login__container > form > h5 {
	margin-bottom: 5px;
	margin-top: 5px;
}

.login__container > form > input {
	height: 30px;
	width: 98%;
	margin-bottom: 10px;
	background-color: white;
}

.login__container > form > p {
	font-size: 12px;
	margin-top: 15px;
}

.login__signinButton {
	background-color: #f0c14b;
	height: 30px;
	width: 100%;
	border: 1px solid;
	border-radius: 2px;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}

.login__registerButton {
	height: 30px;
	width: 100%;
	border: 1px solid;
	border-radius: 2px;
	margin-top: 10px;
	border-color: darkgray;
}
